{{define "footer"}}</main>
<footer>
    <ul>
        <li><a href="https://example.com/sociallink">Social Link</a></li>
        <li><a href="https://github.com/godprobe">GitHub</a></li>
    </ul>
</footer>
</body>
</html>{{end}}